@import '../variable';

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 12vh;
    background-color: transparent;
    transition: all .4s ease-in-out;
    color: #fff;
    padding: 10px 0;
    z-index: 2;
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: flex;
            align-items: flex-end;
            gap: 13px;
            font-size: 42px;
            img{
                width: 145px;
            }
            h1{
                width: 180px;
                line-height: 42px;
                @include transform (translateY(8px))
            }
        }
        .nav{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            width: 50%;
            &--item{
                font-size: 20px;
                letter-spacing: .15em;
                text-align: center;
                cursor: pointer;
                font-weight: regular;
                transition: all .6s;
                &:hover{
                    letter-spacing: .35em
                }
            }
        }
        .phone{
            font-size: 20px;
            font-weight: 600;
        }
    }
}
.scrolled{
    background-color: #000;
    height: 10.5vh;
    img{
        width: 130px !important;
    }
    h1{
        line-height: 38px !important;
        font-size: 36px;
    }
}