.advantages{
    width: 100%;
    height: 100%;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &--item{
        max-width: 350px;
        color: $white;
        text-align: center;
        &_text{
            margin-top: 25px;
            b{
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 2px;
            }
            p{
                font-size: 18px;
                margin: 12px auto 0;
            }
        }
    }
}
.slider{
    width: 100%;
    color: $white;
    padding: 20px 0 60px;
    position: relative;
    .services-dots{
        position: absolute;
        left: -30px;
        bottom: 40px;
        padding: 6px 10px;
        background-color: #fff;
        border-radius: 3px;
        z-index: 2;
        li{
            text-decoration: none;
            width: 22px;
            height: 22px;
            margin: 13px 5px;
            position: relative;
            transition: all .45s linear;
        }
        .slick-active{
            transform: scale(1.3);
        }
        button{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 0;
            overflow: hidden;
            white-space: nowrap;
            text-indent: 100%;
            width: 60%;
            height: 60%;
            border: none;
            border-radius: 0;
            background-color: $accent;
            transform: translate(-50%, -50%) rotate(45deg);
            box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.45);
        }
    }
    .slick-arrow{
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        background: $accent !important;
        z-index: 2;
        img{
            width: 70%;
            height: 70%;
        }
        &::before{
            content: '';
        }
    }
    .slick-prev{
        left: 0;
        @include transform(translate(calc(-50% + 2px), -50%) rotate(135deg));
        img{
            @include transform(translate(50%, 50%) rotate(-45deg));
        }
    }
    .slick-next{
        right: 0;
        @include transform(translate(calc(50% - 2px), -50%) rotate(-45deg));
        img{
            @include transform(translate(50%, 50%) rotate(-45deg));
        }
    }
}
.services--item{
    height: 80vh;
    width: 100%;
    background-color: $dark;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    &_description{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 42%;
        border-radius: 0 12px 12px 0;
        background-color: rgba(221, 221, 221, 0.7);
        padding: 2.2rem 1rem 2rem 2.9rem;
        box-shadow: 8px 0 12px #232225cc;
        color: $dark;
        z-index: 1;
        backdrop-filter: blur(8px);
        h5{
            font-size: 42px;
            letter-spacing: 5px;
            margin: 50px 0 20px;
        }
        p{
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 30px;
        }
    }
    &_gallery{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        & div{
            height: 100%;
            display: block;
            position: relative;
            .slick-track div{
                height: 100%;
            }
        }
        .gallery--item{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
