@media all and (max-width: 768px){
    .bg-container{
        height: 105vh;
        h2{
            font-size: 34px !important;
            width: 80% !important;
        }
    }
    header{
        height: 13vh !important;
        .nav{
            display: none !important;
        }
        .phone{
            display: none !important;
        }
        .container{
            .logo{
                img{
                    display: none;
                }

                h1{
                    width: 100px !important;
                    @include transform (translateY(2px) !important);
                }
            }
        }
        .scrolled{
        background-color: #000;
        height: 10.5vh !important;
            img{
                width: 110px !important;
            }
            h1{
                line-height: 38px !important;
                font-size: 30px;
            }
        }
    }
    .advantages{
        flex-direction: column;
        &--item{
            margin-bottom: 40px;
        }
    }
    h4{
        width: 100% !important;
    }
    .types{
        &--item{
            margin-bottom: 84px !important;
            flex-direction: column !important;
            gap: 10px !important;
            text-align: center !important;
            &:nth-child(2n) {
                flex-flow: wrap !important;
                text-align: center !important;
            }
            &_image{
                height: 170px !important;
                margin: 0 auto !important;
            }
            &_description{
                width: 100% !important;
            }
        }
    }
    .contact{
        height: 87.5vh !important;


        .card-wrapper{

            .c1{
                span{
                    font-size: 30px !important;
                    line-height: 36px !important;
                }
                span::after{
                    height: 6px !important;
                }
            }
            .card-info__wrapper{

                p{
                    font-size: 14px !important;
                    span{
                        font-size: 16px !important;
                    }
                }

                &-bottom{

                }
            }

            .whatsApp{
                top: 80px !important;

            }
        }
    }
}

@media all and (max-width: 600px){

    footer{

        .contact-wrapper--inner{
            padding-top: 0;
            height: 400px;
        }

        .card-wrapper{
            grid-template-columns: 1fr 1fr!important;
            grid-template-rows: 1fr 3fr 1fr !important;

            .c1{
                grid-area: 1/1/1/2 !important;
                span{
                    font-size: 26px !important;
                    line-height: 40px;

                }
                span::after{
                    height: 6px !important;
                }
            }
            .card-info__wrapper{
                grid-area: 2/1/2/3 !important;
                padding: 0 20px !important;
                justify-content: center !important;

                p{
                    font-size: 12px !important;
                    letter-spacing: 2px !important;
                    line-height: 20px !important;
                    text-align: left !important;
                    span{
                        font-size: 14px !important;
                    }
                }

                &-bottom{

                }
            }
            .card-info__wrapper-bottom{
                grid-area: 3/1/3/3 !important;
                align-items: end !important;
            }


        }
        .whatsApp{
            top: 16% !important;
            right: 10% !important;

        }
    }
}
