@import './normalize', './variable', './components/index', './fonts';

.App{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.bg-container{
    width: 100%;
    height: 74vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../assets/image/bg_1.jpg);
    background-position: 65% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    h2{
        position: absolute;
        top: 55%;
        @include transform(translateY(-55%));
        display: inline-block;
        width: 40%;
        font-size: 54px;
        color: #fff;
    }
}
.bg-scrolled{
    height: 100vh !important;    
    background-image: url(../assets/image/bg_2.png) !important;
    .container{
        opacity: 0;
    }
}
main{
    width: 100%;
    background-color: $dark;
    border-radius: 20px;
    box-shadow: 0 -18px 25px #232225cc, 0 8px 12px rgba(35, 34, 37, 0.6);
    position: relative;
}